[submodule "AEngine/vendor/spdlog"]
	path = AEngine/vendor/spdlog
	url = https://github.com/abinash18/spdlog.git
[submodule "AEngine/vendor/GLFW"]
	path = AEngine/vendor/GLFW
	url = https://github.com/abinash18/glfw.git
[submodule "AEngine/vendor/IMGUI"]
	path = AEngine/vendor/IMGUI
	url = https://github.com/abinash18/imgui.git
[submodule "AEngine/vendor/GLM"]
	path = AEngine/vendor/GLM
	url = https://github.com/abinash18/glm.git
[submodule "AEngine/vendor/IMPLOT"]
	path = AEngine/vendor/IMPLOT
	url = https://github.com/abinash18/implot.git
